#ifndef GARAGE_MQTT_SETTINGS_H
#define GARAGE_MQTT_SETTINGS_H

#define _TOPIC_PREFIX "home-assistant/"
#define _STATE_TOPIC_SUFFIX "/state"
#define _CMD_TOPIC_SUFFIX "/set"
#define _AVAILABILITY_TOPIC_SUFFIX "/available"

#define _WIFI_SSID "your wifi ssid";
#define _WIFI_PASSPHRASE "your wifi passphrase";
#define _WIFI_STATUS_PIN 12

#define _MQTT_HOST "your.mqtt.broker.example.com";
#define _MQTT_PORT 1883;
#define _MQTT_USER "your_mqtt_user";
#define _MQTT_PASSWORD "your_mqtt_password";
#define _MQTT_CLIENT_ID "string_to_identify_device";

#define _AVAILABILITY_BROADCAST_DURATION 3600000

#define _DEFINITIONS { \
  {"left_door", RELAY_PIN, CLOSED_SENSOR_PIN, OPEN_SENSOR_PIN} \
  {"middle_door", RELAY_PIN, CLOSED_SENSOR_PIN, OPEN_SENSOR_PIN}, \
  {"right_door", RELAY_PIN, CLOSED_SENSOR_PIN, OPEN_SENSOR_PIN}, \
}

#endif

